<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo proveedor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submitForm()">
          <div class="mb-3">
            <label for="name" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="formData.name" required>
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Apellido:</label>
            <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="formData.lastName" required>
          </div>
          <div class="mb-3">
            <label for="rs" class="form-label">Razon Social:</label>
            <input type="text" class="form-control" id="rs" name="rs" [(ngModel)]="formData.rs" required>
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Direccion:</label>
            <input type="text" class="form-control" id="address" name="address" [(ngModel)]="formData.address" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="submitForm()">Guardar</button>
      </div>
    </div>
  </div>
</div>
